$color-primary-dark: rgb(76, 135, 251);
$color-primary-light: rgb(0, 212, 255);
$color-primary-gradient: linear-gradient(
  270deg,
  rgba(76, 135, 251, 1) 0%,
  rgba(0, 212, 255, 1) 100%
);
$color-secondary: rgb(240, 240, 240);
