.chat {
  padding: 2rem;
  text-align: left;

  &__container {
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 1.25rem 2.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
