@import "./global/index";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

section {
  padding: 10rem 1rem;
  text-align: center;

  & > div {
    max-width: 80rem;
    margin: 0 auto;
  }
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  color: #000;
}

.btn--primary {
  background-color: rgb(95, 167, 255);
}

.btn--secondary {
  background-color: #fff;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 255px;
}
