.authform {
  padding: 10rem 1rem;
  margin: 0 auto;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;

    & input {
      width: 100%;
      font-size: 1rem;
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid grey;
      margin-bottom: 1rem;
    }
  }
}
